<html>
<head>
        <title>Logout</title>
        <style type="text/css">
                body{
                        background-color: #F2A7A7;
                    }
                h1 {
                        text-align: center;
                        font-size: 50px;
                        color: darkred;
                   }
                form {
                        margin: 20px auto;
                        width: 320px;
                        color: darkred;

                     }


        </style>
</head>
<body>
        <h1>Logged out</h1>
        <p> 

	    You have logged out!
	    <a href="http://ec2-35-173-183-216.compute-1.amazonaws.com">Go to homepage</a>	
	</p>
</body>
</html>

