<html>
<head>
        <title>Major_Information</title>
        <style type="text/css">
                body{
                        background-color: #F2A7A7;
                    }
                h1 {
                        text-align: center;
                        font-size: 50px;
                        color: darkred;
                   }
                form {
                        margin: 20px auto;
                        width: 320px;
                        color: darkred;

                     }


        </style>
</head>
<body>
        <h1>Find more information about the various majors!!</h1>
        <p>

            
            <a href="https://www.unomaha.edu/college-of-information-science-and-technology/computer-science/index.php"><h2>Computer Science</h2></a>
            <a href="https://www.unomaha.edu/college-of-information-science-and-technology/academics/cybersecurity.php"><h2>Cyber Security</h2></a>
            <a href="https://www.unomaha.edu/college-of-information-science-and-technology/academics/management-information-systems.php"><h2>Management Information Systems</h2></a>
            <a href="https://www.unomaha.edu/college-of-information-science-and-technology/academics/it-innovation.php"><h2>IT Innovation</h2></a>
            <a href="https://www.unomaha.edu/college-of-information-science-and-technology/academics/bioinformatics.php"><h2>Biomedical Informatics & Bioinformatics</h2></a>
        </p>
</body>
</html>

