{% extends "Basic.html" %}

{% block content %}
<table style="width:100%;">
	<tbody width="100%">
		<tr>
			<td class="TopBox" colspan=2 style="background-color: #DCDCDC;text-align:center;list-style: none;">
				<div style="background-color:#B0C4DE;border-radius:25px;border-color:#E6E6FAfont-size:16pt;">
					<h1>Class Schedule Generation Page</h1>
					<form name="scheduleForm" method='POST'> {% csrf_token %}
						{{ scheduleForm.as_ul }}
						<input type="submit" name="enterData" value="Submit Info" style="background-color:#32CD32;border-radius:25px;border-color:lime;font-size:16pt;">
					</form>
				</div>
			</td>
		</tr>
		<tr>
			<td class="BottomBox" style="background-color: #DCDCDC">
				<div class="BoxRight">
					<textarea rows="50" cols="140" style="resize: vertical;text-align: center;" spellcheck="false">{{ result }}</textarea>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="background-color: #DCDCDC;text-align:center;"><p>Shedule Gen Algorithm Version 2: 4 April 2018</p></td>
		</tr>
	</tbody>
</table>
{% endblock %}
